{% extends 'UCSCRegistrationBundle::layout.html.twig' %}


{% block title %}Update Course : {{cid}}{% endblock %}

{% block body %}
<form action="{{ path('update_course_reg') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock %}