{% extends 'UCSCRegistrationBundle::layout.html.twig' %}


{% block title %}Searching{% endblock %}

{% block body %}
	<form action="{{ path('updateCourse_reg') }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	
	    <input type="submit" />
	</form>
{% endblock %}