{% extends 'UCSCRegistrationBundle::layout.html.twig' %}


{% block title %}View Lecture{% endblock %}

{% block body %}
<form action="{{ path('view2') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock %}