{% extends 'UCSCScholarshipBundle::layout.html.twig' %}


{% block title %}Bursary Registration{% endblock %}

{% block scripts %}
	<script type="text/javascript">
	<!--
	$(document).ready(function(){

		$.post("{{ path('regBursary_select') }}", {batch : $('#form_batch').val()}, function(data) {
			  $('#std').html(data);
		});
		
		$('#form_batch').change(function(){
			$.post("{{ path('regBursary_select') }}", {batch : $(this).val()}, function(data) {
				  $('#std').html(data);
			});
		});
	});
	//-->
	</script>
{% endblock %}


{% block body %}
	{{ form_widget(form) }}

	<div id="std"></div>
{% endblock %}