{% extends 'UCSCScholarshipBundle::layout.html.twig' %}


{% block title %}Scholarship Type Registration{% endblock %}

{% block body %}
<form action="{{ path('MahapolaTypeReg') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock %}