{% extends 'UCSCScholarshipBundle::layout.html.twig' %}


{% block title %}Update Bursary Type : {% endblock %}

{% block body %}
<form action="{{ path('update_BursaryType_reg') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock %}